billboard: BillBoard[] = [ { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100
}, { available: true, backLight: false, imglink:
'https://firebasestorage.googleapis.com/v0/b/billboards-db441.appspot.com/o/flamelink%2Fmedia%2F1562138500056_21bd04bcb36db8a9e7e2c8be9ef5bc44-7.jpg?alt=media&token=aef80935-1061-4e91-847e-bacf511ec048',
boardId: '1', facingDirection: 'north', height: 100, id: 651191919, latitude:
9.9778469, longitude: 76.2812285, place: 'Cochin', sqfeetSize: 200, width: 100 }
];
